.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
.progress-bar-success {
    background-color: green;
}
.progress-bar-warning {
    background-color: orange;
}
.progress-bar-danger {
    background-color: gray;
}
.btn.btn-outline-warning:hover {
     background-color: #ffc107;
    color: white;
 }
.btn.btn-outline-dark:hover {
     background-color: #343a40;
    color: white;
 }
.btn.btn-outline-info:hover {
     background-color: #0dcaf0;
    color: white;
 }