.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
.progress-bar-success {
    background-color: green;
}
.progress-bar-warning {
    background-color: orange;
}
.progress-bar-danger {
    background-color: gray;
}